@CHARSET "ISO-8859-1";

body {
}

#main-content-area-section {
	width: 1000px;
	height: 400px;
	background-color: #f3f3f3;
	
	padding: 1%;
}

#zaleft {
	width: 29%;
	display: inline-block;
	background-color: ghostwhite;
	height: 100%;
		border-radius: 3px;
	
}

#zaright {
	width: 68%;
	display: inline-block;
	background-color: ghostwhite;
	right: 0px;
	height: 100%;
	border-radius: 3px;
}

#centline {
	width: 0px;
	border-right: 1px solid darkgrey;
	display: inline-block;
	height: 100%;
}
